{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{% endblock %}
{% block content %}
    <div class="row">
        {% if success_message %}
        <div class="col-xs-12"><div class="alert alert-success">{{ success_message }}</div></div>
        {% endif %}
        {% if error_message %}
        <div class="col-xs-12"><div class="alert alert-danger">{{ error_message }}</div></div>
        {% endif %}
        <div class="col-xs-12"><a href="/gallery#hidden">Вернуться в галерею</a></div>
    </div>
{% endblock %}
